# Cleaning Data from Urban Redevelopment Authority API

## Concepts 
- show how to extract values from lists and dictionaries in JSON file 
- show how to automate munging with a function 
- write data frame to CSV
- use command line magic commands 
- ask questions on Stack Overflow

In [2]:
import pandas as pd 
import json

In [3]:
with open('PropertyTransactions1.json') as f: 
    json_data = f.read() 
    prop = json.JSONDecoder().decode(json_data)

In [4]:
type(prop)

dict

In [5]:
prop.keys()

dict_keys(['Result', 'Status'])

In [6]:
result = prop['Result']
type(result)

list

In [7]:
prop['Result'][0]

{'marketSegment': 'CCR',
 'project': 'TURQUOISE',
 'street': 'COVE DRIVE',
 'transaction': [{'area': '258',
   'contractDate': '0714',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '4026000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '226',
   'contractDate': '1115',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '3718888',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '200',
   'contractDate': '0116',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '3014200',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '203',
   'contractDate': '0715',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '2900000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '226',
   'contractDate': '0516',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '3700000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '258',
   'contractDate': '0115',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '4550000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '203',
   'contractDate': '0915',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '3700000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '258',
   'contractDate': '0714',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '3880000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'},
  {'area': '258',
   'contractDate': '0616',
   'district': '04',
   'floorRange': '01-05',
   'noOfUnits': '1',
   'price': '3800000',
   'propertyType': 'Condominium',
   'tenure': '99 yrs lease commencing from 2007',
   'typeOfArea': 'Strata',
   'typeOfSale': '3'}],
 'x': '28379.017515570001',
 'y': '24997.931519180001'}

In [52]:
ls_one = []
for result in prop['Result']:
    if 'x' in result.keys():
        ls_one.append(result)
    else:
        continue

In [53]:
housing_1 = pd.DataFrame()
for result in ls_one:
    transact = result['transaction']
    transact_df = pd.DataFrame(transact)
    transact_df['marketSegment'] = result['marketSegment']
    transact_df['street'] = result['street']
    transact_df['project'] = result['project']
    transact_df['x'] = result['x']
    transact_df['y'] = result['y']
    housing_1 = housing_1.append(transact_df)

In [55]:
housing_1.head(20)

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,258,0714,04,01-05,CCR,NaN,1,4026000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
1,226,1115,04,01-05,CCR,NaN,1,3718888,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
2,200,0116,04,01-05,CCR,NaN,1,3014200,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
3,203,0715,04,01-05,CCR,NaN,1,2900000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
4,226,0516,04,01-05,CCR,NaN,1,3700000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
5,258,0115,04,01-05,CCR,NaN,1,4550000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
6,203,0915,04,01-05,CCR,NaN,1,3700000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
7,258,0714,04,01-05,CCR,NaN,1,3880000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
8,258,0616,04,01-05,CCR,NaN,1,3800000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017515570001,24997.931519180001
0,892.1,0415,04,-,RCR,NaN,1,10500000,LANDED HOUSING DEVELOPMENT,Detached,BUKIT TERESA ROAD,Freehold,Land,3,27064.76704627,28720.928682929998
0,85,0814,07,11-15,RCR,NaN,1,1650000,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
1,72,0515,07,16-20,RCR,NaN,1,1365000,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
2,66,0215,07,06-10,RCR,NaN,1,1204655,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
3,52,0814,07,16-20,RCR,NaN,1,1046250,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
4,84,0615,07,16-20,RCR,NaN,1,1560160,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
5,66,0515,07,26-30,RCR,NaN,1,1455300,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
6,65,1014,07,21-25,RCR,NaN,1,1363500,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
7,75,1015,07,26-30,RCR,NaN,1,1571000,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
8,72,0515,07,21-25,RCR,NaN,1,1387000,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999
9,66,0315,07,11-15,RCR,NaN,1,1286250,CITY GATE,Apartment,BEACH ROAD,99 yrs lease commencing from 2014,Strata,1,31223.097831970002,31625.349929479999

In [56]:
housing_1.to_csv('housing_1.csv', sep=',')

In [57]:
!ls

Horos Data                           URA_Data
My Tableau Repository                URA_Data_Cleaning.ipynb
PropertyTransactions1.json           housing_1
PropertyTransactions2.json           housing_1.csv
PropertyTransactions3.txt            keras_examples
PropertyTransactions4.txt            raffles
Py4DataViz                           raffles_test_100_jpg
SGHousingJupyter.ipynb               raffles_test_100_png
TechnicalWriting.txt                 reinforcement-learning
URA Data Service API User Manual.pdf

In [58]:
housing = pd.read_csv('housing_1.csv', index_col=0)

In [59]:
housing.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,258.0,714,4,01-05,CCR,NaN,1,4026000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017516,24997.931519
1,226.0,1115,4,01-05,CCR,NaN,1,3718888,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017516,24997.931519
2,200.0,116,4,01-05,CCR,NaN,1,3014200,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017516,24997.931519
3,203.0,715,4,01-05,CCR,NaN,1,2900000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017516,24997.931519
4,226.0,516,4,01-05,CCR,NaN,1,3700000,TURQUOISE,Condominium,COVE DRIVE,99 yrs lease commencing from 2007,Strata,3,28379.017516,24997.931519

In [62]:
with open('PropertyTransactions2.json') as f: 
    json_data2 = f.read() 
    prop2 = json.JSONDecoder().decode(json_data2)

In [63]:
result2 = prop2['Result']

In [80]:
ls_two = []
for result in prop2['Result']:
    if 'x' in result.keys():
        ls_two.append(result)
    else:
        continue

In [82]:
housing_2 = pd.DataFrame()
for result in ls_two:
    transact = result['transaction']
    transact_df = pd.DataFrame(transact)
    transact_df['marketSegment'] = result['marketSegment']
    transact_df['street'] = result['street']
    transact_df['project'] = result['project']
    transact_df['x'] = result['x']
    transact_df['y'] = result['y']
    housing_2 = housing_2.append(transact_df)

In [83]:
housing_2.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,197,0714,10,11-15,CCR,NaN,1,3850000,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647851530001,32469.693072649999
1,197,0315,10,01-05,CCR,NaN,1,3950000,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647851530001,32469.693072649999
2,106,0714,10,11-15,CCR,NaN,1,2088000,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647851530001,32469.693072649999
3,134,1115,10,11-15,CCR,NaN,1,2530000,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647851530001,32469.693072649999
4,197,0615,10,06-10,CCR,NaN,1,4029900,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647851530001,32469.693072649999

In [84]:
housing_2.to_csv('housing_2.csv', sep=',')

In [85]:
housing_data_2 = pd.read_csv('housing_2.csv', index_col=0)

In [86]:
housing_data_2.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,197.0,714,10,11-15,CCR,NaN,1,3850000.0,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647852,32469.693073
1,197.0,315,10,01-05,CCR,NaN,1,3950000.0,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647852,32469.693073
2,106.0,714,10,11-15,CCR,NaN,1,2088000.0,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647852,32469.693073
3,134.0,1115,10,11-15,CCR,NaN,1,2530000.0,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647852,32469.693073
4,197.0,615,10,06-10,CCR,NaN,1,4029900.0,RESIDENTIAL APARTMENTS,Apartment,DRAYCOTT DRIVE,Freehold,Strata,3,27730.647852,32469.693073

In [88]:
with open('PropertyTransactions3.txt') as f: 
    json_data3 = f.read() 
    prop3 = json.JSONDecoder().decode(json_data3)

In [89]:
ls_three = []
for result in prop3['Result']:
    if 'x' in result.keys():
        ls_three.append(result)
    else:
        continue

In [90]:
housing_3 = pd.DataFrame()
for result in ls_three:
    transact = result['transaction']
    transact_df = pd.DataFrame(transact)
    transact_df['marketSegment'] = result['marketSegment']
    transact_df['street'] = result['street']
    transact_df['project'] = result['project']
    transact_df['x'] = result['x']
    transact_df['y'] = result['y']
    housing_3 = housing_3.append(transact_df)

In [91]:
housing_3.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,47,1215,15,01-05,OCR,NaN,1,753800,ELLIOT AT THE EAST COAST,Condominium,ELLIOT ROAD,Freehold,Strata,3,38883.874192089998,32621.50999211
1,242,0916,15,01-05,OCR,NaN,1,2700000,ELLIOT AT THE EAST COAST,Condominium,ELLIOT ROAD,Freehold,Strata,3,38883.874192089998,32621.50999211
2,242,0816,15,01-05,OCR,NaN,1,2600000,ELLIOT AT THE EAST COAST,Condominium,ELLIOT ROAD,Freehold,Strata,3,38883.874192089998,32621.50999211
0,520.3,1014,20,-,RCR,NaN,1,7600000,THOMSON RISE ESTATE,Detached,JALAN BERJAYA,Freehold,Land,3,29444.248824930002,37165.920957489999
1,228.3,1215,20,-,RCR,NaN,1,3680000,THOMSON RISE ESTATE,Semi-detached,JALAN BERJAYA,Freehold,Land,3,29444.248824930002,37165.920957489999

In [92]:
housing_3.to_csv('housing_3.csv', sep=',')

In [93]:
housing_data_3 = pd.read_csv('housing_3.csv', index_col=0)

In [94]:
housing_data_3.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,47.0,1215,15,01-05,OCR,NaN,1,753800.0,ELLIOT AT THE EAST COAST,Condominium,ELLIOT ROAD,Freehold,Strata,3,38883.874192,32621.509992
1,242.0,916,15,01-05,OCR,NaN,1,2700000.0,ELLIOT AT THE EAST COAST,Condominium,ELLIOT ROAD,Freehold,Strata,3,38883.874192,32621.509992
2,242.0,816,15,01-05,OCR,NaN,1,2600000.0,ELLIOT AT THE EAST COAST,Condominium,ELLIOT ROAD,Freehold,Strata,3,38883.874192,32621.509992
0,520.3,1014,20,-,RCR,NaN,1,7600000.0,THOMSON RISE ESTATE,Detached,JALAN BERJAYA,Freehold,Land,3,29444.248825,37165.920957
1,228.3,1215,20,-,RCR,NaN,1,3680000.0,THOMSON RISE ESTATE,Semi-detached,JALAN BERJAYA,Freehold,Land,3,29444.248825,37165.920957

In [95]:
with open('PropertyTransactions4.txt') as f: 
    json_data4 = f.read() 
    prop4 = json.JSONDecoder().decode(json_data4)

In [97]:
ls_four = []
for result in prop4['Result']:
    if 'x' in result.keys():
        ls_four.append(result)
    else:
        continue

In [99]:
housing_4 = pd.DataFrame()
for result in ls_four:
    transact = result['transaction']
    transact_df = pd.DataFrame(transact)
    transact_df['marketSegment'] = result['marketSegment']
    transact_df['street'] = result['street']
    transact_df['project'] = result['project']
    transact_df['x'] = result['x']
    transact_df['y'] = result['y']
    housing_4 = housing_4.append(transact_df)

In [100]:
housing_4.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,103,0515,22,06-10,OCR,NaN,1,988000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.8308271,35514.440141630002
1,103,0115,22,06-10,OCR,NaN,1,1025000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.8308271,35514.440141630002
2,120,0814,22,01-05,OCR,NaN,1,1050000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.8308271,35514.440141630002
3,143,0516,22,01-05,OCR,NaN,1,1180000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.8308271,35514.440141630002
4,116,0415,22,16-20,OCR,NaN,1,1138000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.8308271,35514.440141630002

In [101]:
housing_4.to_csv('housing_4.csv', sep=',')

In [102]:
housing_data_4 = pd.read_csv('housing_4.csv', index_col=0)

In [103]:
housing_data_4.head()

,area,contractDate,district,floorRange,marketSegment,nettPrice,noOfUnits,price,project,propertyType,street,tenure,typeOfArea,typeOfSale,x,y
0,103.0,515,22,06-10,OCR,NaN,1,988000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.830827,35514.440142
1,103.0,115,22,06-10,OCR,NaN,1,1025000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.830827,35514.440142
2,120.0,814,22,01-05,OCR,NaN,1,1050000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.830827,35514.440142
3,143.0,516,22,01-05,OCR,NaN,1,1180000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.830827,35514.440142
4,116.0,415,22,16-20,OCR,NaN,1,1138000,WESTMERE,Executive Condominium,JURONG EAST STREET 13,99 yrs lease commencing from 1996,Strata,3,17180.830827,35514.440142

In [104]:
frames = [housing_1, housing_2, housing_3, housing_4]
SG_Housing = pd.concat(frames)

In [106]:
SG_Housing.shape

(56589, 16)

In [107]:
SG_Housing.to_csv('SG_Housing.csv', sep=',')

In [108]:
!ls

Horos Data                           URA_Data
My Tableau Repository                URA_Data_Cleaning.ipynb
PropertyTransactions1.json           housing_1.csv
PropertyTransactions2.json           housing_2.csv
PropertyTransactions3.txt            housing_3.csv
PropertyTransactions4.txt            housing_4.csv
Py4DataViz                           keras_examples
SGHousingJupyter.ipynb               raffles
SG_Housing.csv                       raffles_test_100_jpg
TechnicalWriting.txt                 raffles_test_100_png
URA Data Service API User Manual.pdf reinforcement-learning